<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Register Here</h3><br>
    <form class="form" #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" novalidate>
      <div class="form-group">
        <input type="text" placeholder="Enter Username here" name="username" required [(ngModel)]="username">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Enter Password here" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Enter E-mail here" name="email" [(ngModel)]="email" required> 
      </div>
      <div class="form-group">
        <input type="text" placeholder="Enter Telnum here" name="telnum" [(ngModel)]="telnum" required>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
    </div>
    
  </div>
</div>
