<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Login</h3>
      <form class="form-group" novalidate #login="ngForm" (ngSubmit)="loginForm(login)">
        <div class="form-group">
          <input type="text" name="username" [(ngModel)]="username" required placeholder="USERNAME">
        </div>
        <div class="form-group">
          <input type="password" name="password" [(ngModel)]="password" required placeholder="PASSWORD">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
