<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Update User Details</h3>
        <div class="form-group">
            <label>{{userdata.email}}</label>
          </div>
      <form #editform="ngForm" (ngSubmit)="updateDetails(editform)" class="form">
        <div class="form-group">
          <input type="text" placeholder="{{userdata.username}}" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Enter New Password" [(ngModel)]="password" name="password">
        </div>
        
        <div class="form-group">
            <input type="text" placeholder="{{userdata.telnum}}" [(ngModel)]="telnum" name="telnum">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>