<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <table class="table">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            {{user.telnum}}
          </td>
          <td>
            <button [routerLink]="['/edit',user.id]" class="btn btn-default">Edit Data</button>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>